.App {
  width: 600px;
  margin: 100px 100px auto;
  padding: 20px 20px;
}
.App .Weather ul {
  list-style-type: none;
}

.App .Weather .ul-center {
  line-height: 16px;
  padding-top: 20px;
}
.App .Weather .ul-right {
  font-size: 16px;
  line-height: 18px;
}

.App .Weather .op {
  opacity: 0.75;
}
.App .Weather .t-14 {
  font-size: 14px;
}
.App .Weather .current-temp {
  font-size: 54px;
  padding-left: 5px;
}
.App .Weather .celcius {
  position: relative;
  bottom: 22px;
  font-size: 20px;
  font-weight: 500;
}
