@media (max-width: 570px) {
  .App footer {
    font-size: 8px !important;
  }
}

.App {
  color: #472d2d;
}

.App footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.75;
}
.App footer a {
  color: #3d788b;
}
