@media (max-width: 570px) {
  .Temperature .current-temp {
    font-size: 34px !important;
    font-weight: 500;
  }
  .App .units {
    font-size: 14px !important;
    bottom: 12px !important;
  }
}

.Temperature a {
  text-decoration: none;
  color: #579bb1;
}

.Temperature .current-temp {
  font-size: 50px;
}
.App .units {
  position: relative;
  bottom: 22px;
  font-size: 20px;
  font-weight: 500;
}
