@media (max-width: 660px) {
  .Temperature .current-temp {
    font-size: 24px;
  }
  .App .units {
    font-size: 16px;
  }
}

.Temperature a {
  text-decoration: none;
  color: #579bb1;
}
.Temperature .inactive {
  cursor: default;
  color: #472d2d;
}
.Temperature .current-temp {
  font-size: 54px;
}
.App .units {
  position: relative;
  bottom: 22px;
  font-size: 20px;
  font-weight: 500;
}
