@media (max-width: 570px) {
  .Weather .ul-right {
    font-size: 12px !important;
    line-height: 14px !important;
    padding-left: 0 !important;
  }
  .Weather .t-14 {
    font-size: 12px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  .Weather .ul-center {
    padding-top: 0 !important;
  }
  .Weather .search-input {
    max-width: 70%;
  }
  .Weather .current-temp-icon {
    padding: 5px;
  }
}
.Weather .current-temp-icon {
  padding: 5px;
}
.Weather ul {
  list-style-type: none;
}
.Weather .ul-center {
  line-height: 16px;
  padding-top: 18px;
}
.Weather .ul-right {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.Weather .op {
  opacity: 0.75;
}
.Weather .t-14 {
  font-size: 14px;
}
.Weather input {
  box-shadow: 2px 2px 5px #e1d7c6;
  border: solid 1px #e1d7c6;
}
.Weather .btn {
  background-color: #579bb1;
  color: white;
}
.Weather h3 {
  line-height: 20px;
}
